<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Doggy Tinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FC479DA1C0CCF40000A5274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FC479EE1C0CCF40000A5274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FC479F91C0CCF40000A5274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
